<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img  class="logo" src="../../../assets/img/login.png" alt="img login">
    <h3 >Crear Usuario</h3>
    <div class="form-floating mb-3 mt-3">
      <input type="text" [(ngModel)]="username" class="form-control"  placeholder="UserName">
      <label>Registrar Usuario</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="password"class="form-control" placeholder="Password">
      <label> Registrar Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder=" Confirmar Password">
      <label> Confirmar Password</label>
    </div>
    <div class="d-grid gap-2 mb-2">
      <button type="button" (click)="addUser()" class=" mt-3 btn btn-primary btn-lg ">Aceptar</button>
    </div>
    <a  routerLink="/login">Volver</a>
  </div>
  <app-spinner *ngIf="loading" ></app-spinner>
</div>
